    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');


    body {
        font-family: 'Mukta', sans-serif;
    }

    header {
        background: rgb(224, 224, 224);
        box-shadow: 0px 0px 20px rgb(180, 180, 180);
    }

    header h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 30px;
        padding: 10px 15px;
        color: rgb(56, 56, 56);
    }

    header h1 span {
        font-size: 18px;
        color: rgb(119, 119, 119);
    }

    .test {
        width: 80%;
        background: rgb(240, 240, 240);
        margin: 50px auto;
        padding: 50px;
        border-radius: 20px;
        box-sizing: border-box;
    }

    textarea {
        outline: none;
        border: none;
        resize: none;
        width: 100%;
        min-height: 200px;
        background: none;
        font-size: 18px;
        color: rgb(69, 69, 69);
        font-family: 'Encode Sans Expanded', sans-serif;
    }

    button {
        margin-top: 20px;
        outline: none;
        border: none;
        background: rgb(174, 174, 174);
        box-shadow: 0px 0px 10px rgb(150, 150, 150);
        color: #fff;
        padding: 10px 15px;
        font-size: 20px;
        transition: .2s all;
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 10px;
    }

    button:hover {
        cursor: pointer;
        background: rgb(198, 198, 198);
        box-shadow: 0px 0px 20px rgb(165, 165, 165);
    }

    .info {
        display: inline-block;
    }
